@import url('https://fonts.googleapis.com/css?family=Alegreya|Lato');

body {
    font-family: 'Lato', sans-serif;
    background-image: linear-gradient(to bottom right, #77c9d4, #57bc90);
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: fixed;
    color: #343434;
    margin: 0;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
}